<!doctype html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>HTML_css_in_THYMELEAF</title>
	
	<link rel="stylesheet" href="" th:href="@{/css/style.css/}" />      <!--  @ give the path till the static folder -->
	
</head>
<body>
	
	<div class="container">
	
	<h1>HTML CSS JS IN THYMELEAF</h1>
	
	<img class="profile" src="" th:src="@{image/sai.jpg}"  alt="image not attached">
	
	
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas itaque ducimus temporibus excepturi a libero laboriosam ipsa expedita! Repellendus sint eius maiores esse debitis voluptatem laboriosam saepe quam iste distinctio!</50>
</p>
</div>

<script src="" th:src="@{js/myfile.js}">   </script>


</body>
</html>