<!doctype html>
<html lang="en"  xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>
	
	<footer id="fragment" th:fragment="footer1(title,subtitle)">
	
	<div class="container">
	
	
	
	<p>_________________________________________</p>
	
	
	<h2 th:text="${title}"></h2>
	<h2 th:text="${subtitle}"></h2>	
	
	
	
	
	<h1>About Learn code with durgesh -- the footer</h1>
	<h2>Error: There is no difference in including / excluding the namespace of thymeleaf.org</h2>	
	
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos quo animi pariatur repellat nihil non numquam placeat magni beatae id rerum neque accusamus perferendis laudantium facere esse laborum possimus.</p>  
	</div>
	
	<p>_________________________________________</p>
	
	
	</footer>
	
</body>
</html>