<?xml version="1.0" encoding="UTF-8"?>                                         
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
">

<tx:annotation-driven />



<context:component-scan base-package="zpracticemvc" />     
<!-- This is step 2 of view resolver which helps to create the name of path at the run time -->

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">
<property name="prefix" value="/WEB-INF/views/"  />
<property name="suffix" value=".jsp" />
</bean>


<!--   path is  :  WEB-INF/views/ index .jsp  -->





<!--Need to configure hibernate template-->


<!-- 5. This is addition bean for wrting purpose Hibernate TransactionManager , which takes obj ref of sessionFactory 
Go to Dao class and put @Tansactional on insert / updates etc
:-->
<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
<property name="sessionFactory" ref="factory"  />


</bean>




<!--STEP 4. Declare bean   dataSource  to make connection -->
<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
name="ds">

<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
<property name="url" value="jdbc:mysql://localhost:3306/springjdbc" />
<property name="username" value="root" />
<property name="password" value="root" />
</bean>









<!-- STEP 3. Declare bean  LocalSessionFactoryBean as implemented sub class. which further needed to given the 3 prppertues : dataSource , hibernateProperties , annotatedClasses -->

<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" 
name="factory">
<!-- a).Data Source which further declared as bean-->
<property name="dataSource" ref="ds"  />

<!--  b).hibernateProperties-->
<property name="hibernateProperties" >
   <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.hbm2ddl.auto">update</prop>
   </props>

</property>

<!-- c).annotedClasses-->
<property name="annotatedClasses" >
  <list>
  <value>
  zpracticemvc.model.User
  </value>
  </list>
</property>
</bean>






<!--STEP 2. Declare bean  hibernateTemplate  , which further takes reference of obj sessionFactory -->
<bean class="org.springframework.orm.hibernate5.HibernateTemplate"  
name="hibernateTemplate ">
<property name="sessionFactory" ref="factory"  />

</bean>





<!-- Vidoe 70 configure multipart resolver for inserting the file upload-->
<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />









</beans>
